
data/ack.aux
data/chap01.aux
data/chap02.aux
data/resume.aux
main.aux
main.loe
main.lof
main.log
main.lot
main.out
main.synctex.gz
main.thm
main.toc
main.synctex(busy)
main.bbl
main.blg
data/VRrobot.aux
data/VRrobot.aux
main.fdb_latexmk
main.fdb_latexmk
data/~$草稿.docx
main.xdv
main.toc
main.out
main.log
main.fdb_latexmk
